[Unit]
Description=The Twist FastAPI Server
After=network.target

[Service]
ExecStart=/usr/bin/env uvicorn app:app --host 0.0.0.0 --port 80
WorkingDirectory=/home/pi/the-twist-pi/backend
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
